*{
	padding: 0;
	margin: 0;
	font-family: verdana;
	font-style: normal;
}

.container{
	height: 100%;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	background-size: cover;
	background-image: url(images/Background.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 10%;
	padding-right: 10%;
	position: sticky;
	top: 0px;
	background: black;
	opacity: .5;
	z-index: 1;
}

.logo{
	color: white;
	font-size: 30px;
}

span{
	color: steelblue;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: normal;
	font-size: 15px;
}

nav ul li a:hover{
	color: slateblue;
	transition: all 550ms ease;
}

.primary{
	position: fixed;	
	bottom: 40px;
	right: 150px;
	z-index: 1;
}

.button{
	border: 1px;
	border-style: solid;
	border-color: dimgray;
	border-radius: 8px;
	width: 150px;
	height: 30px;
	background-color: aliceblue;
	opacity: .8;
	display: inline-block;
	outline: 0;
	padding-top: 0.40rem;
	padding-bottom: 0.40rem;
	text-align: center;
	text-decoration: none;	
}

.button span{
	box-sizing: border-box;
	background-size: cover;
	color: black;
	font-weight: normal;
	font-size: 20px;
}

.button:hover{
	background-color: steelblue;
	transition: all 550ms ease;
}

.section1{
	background-size: cover;
	box-sizing: border-box;
	justify-content: center;
	padding: 20px;
	border-top: 0.5px;
    border-top-style: outset;
    border-top-color: rgba(255, 255, 255, .3); 
	background-color: #EEEEEE;
	align-items: center;
    justify-content: center;
    justify-items: center;
	display: block;
}

.title{
	background-size: cover;
	box-sizing: border-box;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #737e8c;
	font-size: 20px;
}

.title h2{
	color: #292D32;
}

.cards-grid{
	display: flex;
	box-sizing: border-box;
	background-size: cover;
	margin-top: 0px;
	align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.flip-card{
	width: 300px;
	height: 300px;
	perspective: 2000px;
	margin: 10px;
}

.flip-card-inner{
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .8);
	border: 1px;
	border-color: skyblue;
	border-style: solid;
	border-radius: 0px;
	transition: all 550ms ease;
	transform-style: preserve-3d;
}

.flip-card-front{
	width: 100%;
	height: 100%;
	border-radius: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-back{
	width: 100%;
	height: 100%;
	border-radius: 0px;
	font-size: 1.00rem;
	text-align: center;
	display: grid;
	place-items: center;
	padding: 0px;
	background-color: skyblue;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner{
	transform: rotateY(-180deg);
}

.gotopbtn{
	position: fixed;
	width: 40px;
	height: 40px;
	background: aliceblue;
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 22px;
	opacity: .8;
	border-radius: 20px;
}

.gotopbtn img{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
}

.gotopbtn:hover{
	background-color: steelblue;
	transition: all 550ms ease;;
}

.section2{
	display: flex;
	box-sizing: border-box;
    background-size: cover;
    background-color: whitesmoke;
	padding: 5px;
    border-top: 0.5px;
    border-top-style: outset;
    border-top-color: rgba(255, 255, 255, .3); 
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: #737e8c;
    position: sticky;
}

.img{
	display: flex;
	box-sizing: border-box;
	background-size: cover;
	width: 800px;
	height: 400px;
	margin-left: 100px;
}

.img img{
	box-sizing: border-box;
	background-size: cover;
	max-width: 100%;
}

.description{
	text-align: center;
	margin-left: -200px;
	font-size: 20px;
}

.description h2{
	color: #292D32;
}

.section3{
	display: flex;
	box-sizing: border-box;
    background-size: cover;
    background-color: #292D32;
	padding: 3px;
    border-top: 0.5px;
    border-top-style: inset;
    border-top-color: rgba(255, 255, 255, .3); 
    justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	align-self: center;
	justify-self: center;
}

.table{
        text-decoration: none;
        font-size: 20px;
        color: #d9e9fc;
        margin: 60px;
        border: 1px;
        border-color: rgba(255, 255, 255, .5);
        border-right-style: solid;
        border-collapse: separate;
    }
    
    .table ul{
        list-style: none;
        margin-left: 20px;
        margin-right: 50px;
    }
    
    .table ul li a{
        text-decoration: none;
        color: #737e8c;
        font-size: 15px;
    }
    
    .table ul li a:hover{
        color: whitesmoke;
        transition: all 550ms ease;
    }

    .contact{
    	box-sizing: border-box;
    	background-size: cover;
    	margin-left: 15px;
    	color: #737e8c;
    }

    .icon{
    	width: 20px;
    	font-weight: 20px;
    }

    .lastsection{
    	box-sizing: border-box;
    	background-size: cover;
    	background-color: whitesmoke;
    	border: 1px;
    	border-color: dimgray;
    	align-items: center;
    	align-content: center;
    	justify-content: center;
    	justify-items: center;
    }

    .gridlogo{
    	box-sizing: border-box;
    	background-size: cover;
    	display: flex;
    	align-items: center;
    	align-content: center;
    	justify-content: center;
    	justify-items: center;
    }

    .companylogo{
    	width: 100px;
    	height: 100px;
    	box-sizing: border-box;
    	background-size: cover;
    	margin-left: 10px;
    	margin-top: 5px;
    	margin-bottom: 5px;
    }

    .companylogo img{
    	box-sizing: border-box;
    	background-size: cover;
    	max-width: 100%;
    }

    .pdf{
		width: 100%;
        height: 800px;
	}
	
	.containerPDF{
		display: block;
		position: static;
		width: 100%;
        height: 800px;
	}

    footer{
        background-color: #292D32; 
        color: #737e8c;
        text-align: center;
        letter-spacing: 0.05em;
        border-top: 0.5px;
        border-top-style: inset;
        border-top-color: rgba(255, 255, 255, .3);
        font-size: 5px;
        padding: 20px;
    }

    footer a{
    	color: white;
    	font-size: 15px ;
    }

    @media(max-width:920px){
    	body{
			width: 100%;
		}
		
		.container{
			background-size: cover;
		}

		nav{
			position: sticky;
			width: 70%;
			margin-left: -100px;
			top: 0;
		}
		
		nav ul{
			flex-direction: column;
		}

		span{
			flex-direction: column;
		}

		.logo{
			flex-direction: column;
			margin-left: 50px;
		}

		.cards-grid{
			flex-direction: column;
		}

		.img{
			width: 400px;
			height: 200px;
		}

		.description{
			font-size: 10px;
			margin-left: -150px;
		}

		.title{
			font-size: 10px;
		}

        .table{
           width:100%;
        }

        .table ul{
            margin-left: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .table thead {
           display: none;
        }

        .table tr:nth-of-type(2n) {
           background-color: inherit;
        }

        .table tr td:first-child {
           
        }

        .table tbody td {
           display: block;
           text-align:center;
        }

        .table tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
        }

        .containerPDF{
			width: 100%;
			display: block;
			position: static;
			margin-top: 0px;
			margin-left: 0px;
			width: 100%;
		}

		.gridlogo{
			flex-direction: column;
		}

		.section3{
			display: block;
			justify-content: center;
	        justify-items: center;
	        align-items: center;
	        align-content: center;
	        align-self: center;
	        justify-self: center;
		}

		.contact{
			flex-direction: column;
			justify-content: center;
	        justify-items: center;
	        align-items: center;
	        align-content: center;
	        align-self: center;
	        justify-self: center;
		}
    }